h1 {
    text-align: center;
}

.description {
    text-align: center;
}

.schedule {
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    background-color: lightblue;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    flex-wrap: wrap;
    border-radius: 2px;
}

div p {
    text-align: center;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
}

div input {
    text-align: left;
    text-align: top;
    background-color: greenyellow;
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid black;
}

div button {
    background-color: rgb(131, 239, 253);
}